<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>이름</th>
                <th>도시</th>
                <th>주소</th>
                <th>우편번호</th>
                <th>수정</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.name}"></td>
                <td th:text="${member.city}"></td>
                <td th:text="${member.street}"></td>
                <td th:text="${member.zipcode}"></td>
                <td>
                    <a href="#" th:href="@{/members/{id}/edit (id=${member.id})}"
                       class="btn btn-primary" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav style="text-align: center;" aria-label="Page navigation example">
            <ul class="pagination"
                th:with="start=${T(Math).floor(memberList.number/10)*10 + 1},
                    last=(${start + 9 < memberList.totalPages ? start + 9 : memberList.totalPages})">
                <li class="page-item">
                    <a class="page-link" th:href="@{/members(page=1)}" aria-label="First">
                        <span aria-hidden="true">First</span>
                    </a>
                </li>

                <li class="page-item" th:class="${memberList.first} ? 'disabled'">
                    <a class="page-link" th:href="${memberList.first} ? '#' :@{/members(page=${memberList.number})}" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == memberList.number + 1} ? 'active'">
                    <a class="page-link" th:text="${page}" th:href="@{/members(page=${page})}"></a>
                </li>

                <li class="page-item" th:class="${memberList.last} ? 'disabled'">
                    <a class="page-link" th:href="${memberList.last} ? '#' : @{/members(page=${memberList.number + 2})}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>

                <li class="page-item" >
                    <a class="page-link" th:href="@{/members(page=${memberList.totalPages})}" aria-label="Last">
                        <span aria-hidden="true">Last</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>