<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>구분</th>
                <th>상품명</th>
                <th>가격</th>
                <th>재고수량</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${itemDto}">
                <td th:text="${item.itemDtypeName}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.stockQuantity}"></td>
                <td>
                    <a href="#" th:if="${item.itemDtypeName.equals('도서')}" th:href="@{/books/{id}/edit (id=${item.id})}"
                       class="btn btn-primary" role="button">수정</a>
                    <a href="#" th:if="${item.itemDtypeName.equals('음악')}" th:href="@{/albums/{id}/edit (id=${item.id})}"
                       class="btn btn-primary" role="button">수정</a>
                    <a href="#" th:if="${item.itemDtypeName.equals('영화')}" th:href="@{/movies/{id}/edit (id=${item.id})}"
                       class="btn btn-primary" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>